:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --section-title-color: #353430;
  --title-decor-bg: #ff8dcb;
  --title-decor-text: #353430;
  --main-text-color: #353430;
  --decor-color: #353430;
  --button-hover-color: rgb(50 49 45 / 0.4);
  --header-title-color: #ffc2e6;
  --title-color: #353430;
}

.theme-light .rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--decor-color);
}

.theme-light .header__title,
.theme-light .header__subtitle,
.theme-light .footer__title,
.theme-light .footer__subtitle {
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --section-title-color: #353430;
    --title-decor-bg: #ff8dcb;
    --title-decor-text: #353430;
    --main-text-color: #353430;
    --decor-color: #353430;
    --button-hover-color: rgb(50 49 45 / 0.4);
    --header-title-color: #ffc2e6;
    --title-color: #353430;
  }
  .theme-auto .rec {
    display: none;
  }
  .theme-auto .header__theme-menu-button {
    color: var(--decor-color);
  }
  .theme-auto .header__title,
  .theme-auto .header__subtitle,
  .theme-auto .footer__title,
  .theme-auto .footer__subtitle {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}